html {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;

  background-color: #e1d2ca;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('../images/background.png');

  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

@font-face {
  font-family: 'cute';
  src: url('../font/Cafe24Ssurround\ 2022-05-03\ 07_28_34.ttf');
}

@font-face {
  font-family: 'cute_air';
  src: url('../font/Cafe24SsurroundAir\ 2022-05-03\ 07_28_36.ttf');
}

#title {
  width: 86%;
}

.pocket {
  width: 100%;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -150px;
}

.talking {
  width: 200px;
  position: fixed;
  bottom: 0px;
  right: -10px;
  z-index: 2;
}

.script {
  font-family: 'cute';
  font-size: 16px;
  text-align: center;
  color: #6d594e;
  position: fixed;
  bottom: 176px;
  right: 24px;
  z-index: 2;
}

.logo {
  width: 30%;
  z-index: 1;
}

.moving_title {
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  animation: title-ani 1s ease-in-out forwards;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.text {
  width: 80%;
  font-family: 'cute';
  font-size: 55px;
  color: #6d594e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

#pack {
  width: 96%;
  bottom: -30px;
}

.letterbox {
  padding: 50px;
  display: block;
  height: calc(100vh - 350px);
  width: 50%;
  border-radius: 30px;
  background-color: #e1d2ca;
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  animation: letter-ani 1s ease-in-out forwards;
  animation-delay: 2.2s;
  z-index: 3;
  scrollbar-width: none;
  padding-bottom: 400px;
  overflow-y: scroll;
}

.about_me {
  overflow: auto;

  background-color: #e1d2ca;
}

#bot {
  animation: bot-ani 0.1s linear forwards;
  animation-delay: 2s;
  opacity: 0;
  z-index: 99;
}

@keyframes bot-ani {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes title-ani {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes letter-ani {
  from {
    transform: translateY(1000px);
    opacity: 1;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.set > img {
  width: 80%;
}

.set {
  text-align: center;
}

.title {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 70px;
  color: #6d594e;
}

.tmi {
  text-align: center;
  margin: 10px;
  color: #947f74;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
}

.info {
  margin: 30px;
  color: #6d594e;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 23px;
}

.invite {
  color: #6d594e;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 40px;
}

.brand {
  width: 90%;
}

#profile {
  width: 60%;
}

.movieImage {
  width: 120px;
}

.movieTier {
  width: 50px;
  font-family: 'cute';
  font-size: 26px;
  text-align: center;
  color: #6d594e;
}

.movieTitle {
  width: 150px;
  font-family: 'cute';
  font-size: 16px;
  text-align: center;
  color: #6d594e;
}

.description {
  color: #6d594e;
}

table {
  border: 1px solid #6d594e;
}

th {
  padding: 10px 5px;
  border-bottom: 1px solid #6d594e;
}

ul {
  list-style-type: none;
  text-align: left;
  display: inline;
  padding: 0;
}

label {
  color: #6d594e;
  font-size: 16px;
  font-weight: 700;
}

li {
  display: inline;
}

li > label {
  font-weight: 400;
}

button {
  border: none;
  background-color: #6d594e;
  border-radius: 4px;
  padding: 8px 12px;
  color: white;
  margin: 5px;
}

input {
  padding: 5px;
  border-radius: 4px;
  border: none;
  text-align: center;
  width: 70px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

input[type='checkbox'] {
  width: auto;
}
